doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav 
        ul 
          li 
            a(href='//localhost:3000/') Home
          li 
            a(href='//localhost:3000/about') About
    block content
